.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    /* margin-bottom: 32px; */
}

.Logo img {
    height: 100%;
}

/* @media (min-width: 500px) {
    .Logo {
        margin-bottom: 0;
    }
} */